<div class="container border">
    <div class="row">
        <div class="col-md-5">
            <img class="img-fluid" src="{{selectedProduct.imgUrl}}" alt="">
        </div>
        <div class="col-md-7">
            <h1 class="mx-5 mt-4">{{selectedProduct.title}}</h1>
            <p class="h5 mx-5">Price: <span class="text-danger">${{selectedProduct.price}}</span></p>
            <p class="badge text-bg-primary mx-5">Available</p>
            <button class="btn btn-warning mx-5 mt-2 d-block">Add to Cart</button>

            <ul class="mx-5 mt-4">
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti amet accusamus,
                    mollitia
                    assumenda at nisi magni necessitatibus officia et velit maiores veniam inventore quas labore atque,
                    consequatur possimus dolores voluptates!</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti amet accusamus,
                    mollitia
                    assumenda at nisi magni necessitatibus officia et velit maiores veniam inventore quas labore atque,
                    consequatur possimus dolores voluptates!</li>
            </ul>
        </div>
    </div>
</div>